<!DOCTYPE html>
<html>
<head>
	<title>Portal App</title>

	<link rel="stylesheet" href="	settings.css" />
</head>
<body>
	<header>
		<h1>Portal App: setup and start mongoDB server.</h1>
		<h4>Port: 27017</h4>
	</header>
</body>
